*_log.txt
logs/
.idea/
.idea
venv/
.DS_Store
*.DS_store
serverless/node_modules/
serverless/.serverless/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform
serverless/package.json

**/.terraform/*
*.tfstate
*.tfstate.*
infra/override.tf
infra/override.tf.json
*_override.tf
*_override.tf.json

binaries/*
scripts/key_gen/*