service: kl

projectDir: ../
variablesResolutionMode: 20210326
plugins:
  - serverless-iam-roles-per-function
  - serverless-step-functions

provider:
  name: aws
  runtime: python3.8
  stage: ${opt:stage, 'Klayers-defaultp38'}
  region: ${file(../Terraform/terraform.tfvars.json):aws_region.${self:provider.stage}}
  profile: ${file(../Terraform/terraform.tfvars.json):aws_profile.${self:provider.stage}}
  versionFunctions: false
  logRetentionInDays: 90
  environment:
    STAGE: ${self:provider.stage}
    LOG_LEVEL: INFO
    DB_NAME: ${self:custom.dbName}
    BUCKET_NAME: ${self:custom.s3LayersName}
    POWERTOOLS_SERVICE_NAME: ${self:provider.stage}
  logs:
    httpApi: true
  httpApi:
    cors: true
  eventBridge:
    useCloudFormation: true
  
custom:
  # Env
  awsRegion: ${self:provider.region} 
  lambdaPrefix: ${ssm:/${self:service}/${self:provider.stage}/lambda_prefix}
  pipelineName: ${self:service}-${self:provider.stage}-pipeline

  # S3
  s3LayersName: ${ssm:/${self:service}/${self:provider.stage}/layers_bucket/name}
  s3LayersArn: ${ssm:/${self:service}/${self:provider.stage}/layers_bucket/arn}

  # DynamoDB
  dbName: ${ssm:/${self:service}/${self:provider.stage}/db/name}
  dbArn: ${ssm:/${self:service}/${self:provider.stage}/db/arn}
  dbStreamLabel: ${ssm:/${self:service}/${self:provider.stage}/db/stream/label}
  dbStreamArn: ${ssm:/${self:service}/${self:provider.stage}/db/stream/arn}

  # Github
  githubSSHKeyParameter: /${self:service}/${self:provider.stage}/github_ssh_key
  githubRepo: ${ssm:/${self:service}/${self:provider.stage}/github_repo}
  githubWebhookSecret: /${self:service}/${self:provider.stage}/github_webhook_secret
  
  # Slack
  slackTokenParameter: /${self:service}}/${self:provider.stage}/slack_token

  # Cloudformation
  apiCertArn: ${ssm:/${self:service}/${self:provider.stage}/api/cert/arn}
  apiDomainName: ${ssm:/${self:service}/${self:provider.stage}/api/domain_name}
  
  
functions:
  - ${file(01_invoke_pipelines/invoke_pipelines.yml)}
  - ${file(02_pipeline/pipeline.yml)}
# 03_publish has been deprecated and removed.
  - ${file(04_stream_processor/streams.yml)}
  - ${file(05_slack_notification/slack.yml)}
  - ${file(06_webhook/webhook.yml)}

stepFunctions:
  stateMachines:
    invoke_pipelines:
      ${file(state_machines/01_invoke_pipelines.yml)}
    pipeline:
      ${file(state_machines/02_pipeline.yml)}

package:
  exclude:
    - package-lock.json
    - package.json
    - node_modules/**
    - serverless.yml
    - .gitignore
    - .serverless/**
    - sls_components/**
    - README.MD

