aws-lambda-powertools==2.14.1
aws-xray-sdk==2.12.0
boto3==1.26.119
botocore==1.29.119
fastjsonschema==2.15.2
future==0.18.2
jmespath==0.10.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
typing_extensions==4.5.0
urllib3==1.26.7
wrapt==1.13.3
