name: Change to Master

on:
  push:
    branches:
      - master
      - klayers-default
      - klayers-dev
      
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      
      - name: Set AWS Environment variable based on branch
        run: |
          if [ ${{ github.ref }} == 'refs/heads/master' ]
          then
            echo AWS_ENV=Klayers-prodp38 >> $GITHUB_ENV
          elif [ ${{ github.ref }} == 'refs/heads/klayers-dev']
          then
            echo AWS_ENV=Klayers-devp38 >> $GITHUB_ENV
          else
            echo AWS_ENV=Klayers-defaultp38 >> $GITHUB_ENV
          fi
        shell: bash
      
      - name: Get AWS configuration
        run: |
          GITHUB_ROLE_ARN=$(cat ./.github/workflows/role_arns.json | jq -r --arg arg $AWS_ENV '.github_role_arn | .[$arg]')
          AWS_REGION=$(cat ./pipeline/Terraform/terraform.tfvars.json | jq -r --arg arg $AWS_ENV '.aws_region | .[$arg]')
          
          echo AWS_ROLE_ARN=$GITHUB_ROLE_ARN >> $GITHUB_ENV
          echo AWS_DEFAULT_REGION=$AWS_REGION >> $GITHUB_ENV

      # - name: Update Token File
      #   run: |
      #     export AWS_WEB_IDENTITY_TOKEN_FILE=/tmp/awscreds
      #     echo AWS_WEB_IDENTITY_TOKEN_FILE=$AWS_WEB_IDENTITY_TOKEN_FILE >> $GITHUB_ENV
      #     curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r '.value' > $AWS_WEB_IDENTITY_TOKEN_FILE

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-duration-seconds: 900
          role-session-name: on-push-klayers-${{ env.AWS_ENV }}

      - name: Get Bucket name
        run: |
          export CONFIG_BUCKET_NAME=$(aws ssm get-parameter --name "/kl/config_bucket/name" | jq -r ".Parameter.Value")
          echo CONFIG_BUCKET_NAME=$CONFIG_BUCKET_NAME >> $GITHUB_ENV

      - name: Upload new configuration to S3
        run: aws s3 cp ./pipeline/config s3://$CONFIG_BUCKET_NAME --recursive